header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #212529;
    color: white;
    height: 50px;
    padding: 10px;
}

header nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header nav a{
    color: white;
    font-size: 25px;
}

header nav a:hover{
    color: white;
}

header nav a:last-child{
    color: white;
    font-size: 20px;
    margin-right: 15px;
}