
.home main .titulo {
    margin: 10vw 0;
}

.home main .nota{
    width: 18rem; 
    height: 430px; 
    margin: 0 auto 2rem auto;
    box-shadow: 0 1px 16px 2px rgb(0 0 0 / 47%);
    border: none;
}

.home main .nota .descripcion{
    height: 60%;
    margin: 10px 0 0 0;
}

@media(min-width:768px){

    .home main .titulo{
        margin: 3vw 0;
    }
}